{% extends 'base.html' %}

{% block content %}
<table class="table">

  <thead>
    <tr>
      <th scope="col">Дата</th>
      <th scope="col">Покупка</th>
      <th scope="col">Продажа</th>
      <th scope="col">Действия</th>
    </tr>
  </thead>

  <tbody>
	{% for value in values%}
		<tr>
			<td>
				{{value.1}}
			</td>	
				<td>
				{{value.2}}
			</td>	
				<td>
				{{value.3}}
			</td>	
			<td style='display: flex; padding: 5px'>
				<form action="delete/" method="POST">
					<input type="hidden" name="id_" value="{{value.0}}">
					<button type="submit" >
						<i class="fa fa-trash-o" aria-hidden="true"></i>
					</button>
				</form>
				<button type="button" onclick="location.href='/{{value.0}}/edit';" >
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
				</button>

			</td>
		</tr>
	{% endfor %}
  </tbody>
</table>

{% endblock content %}